#title {
    padding: 25px;
    padding-top: 75px;
    width: 100%;
    margin: 0;
    background-image: url("../img/black-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 600px;
}

#title h1 {
    font-size: 2.5em;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.15em;
    color: white;
    width: 100%;
}

#title p {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.5em;
    color: white;
    width: 100%;
}

#cal {
    margin: 0;
    margin-top: -355px;
    padding-bottom: 100px;
}

#cal-btn, #try-btn {
    width: 100%;
    background-color: #FFFB00;
    color: black;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.25em;
    border-radius: 0;
}

#cal-btn:hover, #try-btn:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

#result {
    margin: 0;
    padding-bottom: 75px;
    background-image: url("../img/black-background-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#result-value {
    font-size: 7.5em;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.15em;
}

.bad {
    color: red;
    transition: .5s;
}

.average {
    color: yellow;
    transition: .5s;
}

.good {
    color: #e3ff00;
    transition: .5s;
}

.great {
    color: lightgreen;
    transition: .5s;
}

.excellent {
    color: green;
    transition: .5s;
}